body,
ul,
li,
body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem; /*tamanho da fonte*/
  font-family: Arial;
}

body {
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}
.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

/* CSS FLEXBOX 1 */

.flex {
  display: flex;
  flex-wrap: wrap; /*Ao diminuir a tela as imagens irão ficar em baixo*/
  max-width: 800px;
  margin: 0 auto; /*alinhar ao centro quando passar dos 800px*/
}

.flex > div {
  flex: 1 1 200px; /*O 1 é para que ele se expanda e o outro para ele diminuir*/
  margin: 10px;
}

/* CSS GRID 1 */

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*colunas*/
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.grid1 > div.anuncio {
  grid-column: 1; /*coluna*/
  grid-row: 2 / 5; /*Linhas em que o anúncio estará*/
  border-top: 10px solid tomato;
  display: block;
}

@media (max-width: 600px) {
  /*abaixo dos 600px aplica estes estilos*/
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid1 > div:nth-child(n + 4) {
    display: block;
  }
  .grid1 > div.anuncio {
    grid-column: auto;
    grid-row: auto;
    order: -1; /*Para que o anúncio apareça primeiro quando a tela estiver abaixo dos 600px*/
  }
}

/*CSS Grid 2*/

.grid2 {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.sidebar > div {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: flex;
    overflow: scroll;
  }
  .sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}

/* SECTION GRID 3 */

.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

.grid3-item:nth-child(1) {
  grid-row: 1 / 3;
}

.grid3-item {
  display: grid;
}

.grid3-item img {
  grid-column: 1;
  grid-row: 1/3; /*A imagem vai da linha 1 à 3*/
  align-self: end;
}

.grid3-item p {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}
